.App {
  text-align: center;
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUz5LXbD3lLGQW710tY5fkPoKjkwSbkMP6MA&usqp=CAU);
background-size: cover;
padding: 5%;

}
.SOFI{
  border-left: darkblue 5px dotted;
  border-top: darkblue 10px double;
  border-bottom: darkblue 5px dotted;
  border-right: darkblue 10px double;
  width: 60%;
  margin-left: 20%;
  margin-top: 2%;
  background-color: rgb(250, 211, 219);
}
.so{
width: 15%;
padding: 0.5%;
margin-top: 2%;
border-radius: 15%;
background-color: rgb(215, 215, 241);
color: blue;
border: 10px solid blue;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 200%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
